@model List<BookSocial.EntityClass.DTO.ShelfListHome>

@{
    var host = ConnectAdmin.BookSocialAdmin;
}

<h4 class="widget-title">CURRENTLY READING</h4>
@foreach (var item in Model)
{
    <div class="your-page">
        <figure>
            <a href="@Url.Action("BookProfile","Home",new{bookId=item.BookId})"><img style="border-radius:unset" src="@host/assets/images/book/@item.BookImage"></a>
        </figure>
        <div class="page-meta">
            <a href="@Url.Action("BookProfile","Home",new{bookId=item.BookId})" style="font-size:14px" class="underline">@item.BookName</a>
            <span>
                    by
                    @{
                        var count = 0;
                    }
                    @foreach (var author in item.AuthorListByBookId)
                    {
                        count++;
                        if (count > 1)
                        {
                            <span><a href="@Url.Action("AuthorProfile","Home",new{authorId=author.AuthorId})">, @author.AuthorName</a></span>
                        }
                        else
                        {
                            <span><a href="@Url.Action("AuthorProfile","Home",new{authorId=author.AuthorId})">@author.AuthorName</a></span>
                        }
                    }
            </span>
        </div>
    </div>
}
