<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.Action("Index","Home")" class="site_title"><i class="fa fa-paw"></i> <span>Admin</span></a>
        </div>
        <div class="clearfix"></div>
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Dashboard</a>
                    </li>
                    <li>
                        <a><i class="fa fa-graduation-cap"></i> Library Manager <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.Action("AuthorList","Home")">Author Statistic</a></li>
                            <li><a href="@Url.Action("GenreList","Home")">Genre Statistic</a></li>
                            <li><a href="@Url.Action("BookList","Home")">Book Statistic</a></li>
                        </ul>
                    </li>
                    <li>
                        <a><i class="fa fa-user"></i> User Manager <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="@Url.Action("UserList","Home")">User Statistic</a></li>
                            <li><a href="@Url.Action("ReviewList","Home")">Review Statistic</a></li>
                            <li><a href="@Url.Action("CommentList","Home")">Comment Statistic</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("EmployeeList","Home")"><i class="fa fa-users"></i> Employee Manager </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>