@model IEnumerable<BookSocial.EntityClass.DTO.ReviewStatistic>

<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <h2>Article List</h2>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                            <select class="custom-select" id="btn-sort">
                                <option selected value="Id">Id</option>
                                <option value="Text">Text</option>
                                <option value="Star">Star</option>
                                <option value="CreatedAt">Created At</option>
                                <option value="BookId">Book Id</option>
                                <option value="BookName">Book Name</option>
                                <option value="UserId">User Id</option>
                                <option value="UserName">User Name</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="input-group my-input-group">
                                <input id="search" type="text" class="form-control my-form-control" placeholder="Search ..." />
                                <div class="input-group-append">
                                    <button id="btn-search" class="btn mr-0 btn-outline-dark" type="button"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Fail"] != null)
            {
                <div class="alert alert-error" role="alert">
                    @TempData["Fail"]
                </div>
            }
            <div class="table-responsive mt-2">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Id</th>
                            <th class="column-title">Text</th>
                            <th class="column-title">Star</th>
                            <th class="column-title">Created At</th>
                            <th class="column-title">Book Id</th>
                            <th class="column-title">Book Name</th>
                            <th class="column-title">User Id</th>
                            <th class="column-title">User Name</th>
                            <th class="column-title">Number Of Comments</th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="even pointer">
                                <td class=" ">@item.Id</td>
                                <td class=" ">@item.Text</td>
                                <td class=" ">@item.Star</td>
                                <td class=" ">@(item.CreatedAt == new DateTime(0001,01,01,00,00,00) ? "" : item.CreatedAt.ToShortDateString())</td>
                                <td class=" ">@item.BookId</td>
                                <td class=" ">@item.BookName</td>
                                <td class=" ">@item.UserId</td>
                                <td class=" ">@item.UserName</td>
                                <td class=" ">@item.NumberOfComments</td>
                                <td class=" last">
                                    <a data-id="@item.Id" href="#" class="btn-delete btn btn-outline-danger">
                                        <i class='fa fa-trash-o'></i> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <ul class="pagination my_pagination">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li>
                            <a href="@Url.Action("ReviewList","Home",
                            new{page=ViewBag.CurrentPage-1,search=ViewBag.CurrentSearch,sort=ViewBag.CurrentSort})">Previous</a>
                        </li>
                    }

                    @for (var i = 0; i < ViewBag.Pages; i++)
                    {
                        if ((i + 1) == ViewBag.CurrentPage)
                        {
                            <li>
                                <a class="active" href="@Url.Action("ReviewList","Home",
                                new{page=i+1,search=ViewBag.CurrentSearch,sort=ViewBag.CurrentSort})">@(i+1)</a>
                            </li>
                        }
                        else if (Math.Abs((i + 1) - ViewBag.CurrentPage) <= 5)
                        {
                            <li>
                                <a href="@Url.Action("ReviewList","Home",
                                new{page=i+1,search=ViewBag.CurrentSearch,sort=ViewBag.CurrentSort})">@(i+1)</a>
                            </li>
                        }
                    }

                    @if (ViewBag.CurrentPage < ViewBag.Pages)
                    {
                        <li>
                            <a href="@Url.Action("ReviewList","Home",
                            new{page=ViewBag.CurrentPage+1,search=ViewBag.CurrentSearch,sort=ViewBag.CurrentSort})">Next</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section script{
<script src="~/my_script/get_param_url.js"></script>
<script src="~/my_script/action_in_list.js"></script>
<script src="~/my_script/article/action_delete.js"></script>
}
