@model BookSocial.EntityClass.DTO.BookAssignAuthor

@section css{
    <link rel="stylesheet" href="~/my_style/book/create.css" />
    <link rel="stylesheet" href="~/my_style/book/assign_author.css" />
}

    @{
    var host = ConnectCms.BookSocialCms;
}

<div class="blog-sec">
    <div class="l-post my-l-post">
        <h1 class="text-center">
            Gán tác giả cho cuốn sách
            <a style="color:#088dcd" href="@Url.Action("BookProfile", "Home", new { bookId = Model.Id })">@Model.Name (@Model.Isbn)</a>
        </h1>
    </div>
</div>

@if (TempData["Success"] != null)
{
    <div class="blog-sec">
        <div class="alert alert-success" role="alert">
            @TempData["Success"]
        </div>
    </div>
}
@if (TempData["Fail"] != null)
{
    <div class="blog-sec">
        <div class="alert alert-error" role="alert">
            @TempData["Fail"]
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="central-meta my-central-meta">
            <div class="editing-info">
                <h5 class="f-title">Thêm mới tác giả</h5>

                <form method="post"
                      action="@Url.Action("CreateAuthor","Home")"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <input name="Name" type="text" />
                        <label class="control-label" for="input">Tên tác giả</label><i class="mtrl-select"></i>
                    </div>
                    <div class="form-group">
                        <img class="d-none mt-2" id="img-preview" style="width:200px" src="~/images/credit-cards.png" />
                        <input name="Image" id="img-file" type="file" class="my-input mt-2" />
                        <label class="control-label my-control-label" for="input">Ảnh</label>
                    </div>
                    <div class="form-group">
                        <input name="Birthday" type="date" />
                        <label class="control-label" for="input">Ngày sinh</label><i class="mtrl-select"></i>
                    </div>
                    <div class="form-group">
                        <textarea name="Description" rows="4" id="textarea"></textarea>
                        <label class="control-label" for="textarea">Mô tả</label><i class="mtrl-select"></i>
                    </div>
                    <div class="submit-btns">
                        <button type="submit" class="mtr-btn"><span>Thêm mới</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="central-meta my-central-meta">
            <div class="editing-info">
                <h5 class="f-title">Tác giả đã gán</h5>
                <div class="my-scroll">
                    @foreach (var item in Model.AuthorListByBookId)
                    {
                        <div class="your-page">
                            <figure>
                                <a href="@Url.Action("AuthorProfile","Home",new { authorId = item.AuthorId })">
                                    <img style="border-radius:unset;width:100%" src=@($"{host}assets/images/author/{item.AuthorImage}")>
                                </a>
                            </figure>
                            <div class="page-meta">
                                <a href="@Url.Action("AuthorProfile","Home",new { authorId = item.AuthorId })" style="font-size:14px" class="underline">
                                    @item.AuthorName
                                </a>
                                <span>@item.AuthorBirthday?.ToString("dd/MM/yyyy")</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="central-meta my-central-meta">
            <div class="editing-info">
                <h5 class="f-title">Gán tác giả</h5>
                <form method="post" action="@Url.Action("AssignAuthorToBook","Home")">
                    <input id="assign-author-id" name="AuthorId" type="number" value="" hidden />
                    <input name="BookId" type="number" value="@Model.Id" hidden />
                    <img class="mt-2 d-none" id="assign-author-image" style="width:200px" src="~/images/book-icon.png" />
                    <p class="d-none" id="assign-author-birthday">long</p>
                    <div class="form-group">
                        <input id="assign-author-value" data-host=@($"{host}assets/images/author/") type="text" />
                        <label class="control-label" for="input">Tên tác giả</label><i class="mtrl-select"></i>
                    </div>
                    <div class="submit-btns">
                        <button type="submit" class="mtr-btn"><span>Gán tác giả</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/my_script/get_param_url.js"></script>
    <script src="~/my_script/search/create.js"></script>
    <script src="~/my_script/book/action_autocomplete.js"></script>
    }