@using BookSocial.EntityClass.Enum
@using BookSocial.Service
@using System.Globalization
@model BookSocial.EntityClass.DTO.BookProfile

@section css{
<link rel="stylesheet" href="~/my_style/friend/index.css" />
}

@{
    var host = ConnectAdmin.BookSocialAdmin;
    var userIdClaim = User.Claims.Where(c => c.Type == "Id").Select(c => c.Value).SingleOrDefault();
}

<div class="blog-sec">
    <div class="l-post my-l-post">
        <h1 class="text-center">Book Profile</h1>
    </div>
</div>

<div class="blog-sec">
    <div class="l-post my-l-post">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <figure class="my-figure">
                    <img src=@($"{host}assets/images/book/{Model.Image}") />
                </figure>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="l-post-meta my-l-post-meta">
                    <h4><a href="">@Model.Name</a></h4>
                    <p>
                        <b>Isbn:</b> @Model.Isbn <br />
                        <b>Name:</b> @Model.Name <br />
                        <b>PageNumber:</b> @Model.PageNumber <br />
                        <b>Published:</b> @(Model.Published == new DateTime(0001,01,01,00,00,00) ? "" : Model.Published?.ToShortDateString()) <br />
                        <b>GenreId:</b> @Model.Genre.Name <br />
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-sec">
    <div class="review-list">
        @await Html.PartialAsync("~/Views/Review/Partials/ReviewByBookId.cshtml", Model.ReviewByBookId)
    </div>
</div>