@model BookSocial.EntityClass.DTO.BookProfile

@section css{
<link rel="stylesheet" href="~/my_style/book/index.css" />
<link rel="stylesheet" href="~/my_style/comment/index.css" />
}

@{
    var host = ConnectAdmin.BookSocialAdmin;
    var userIdClaim = User.Claims.Where(c => c.Type == "Id").Select(c => c.Value).SingleOrDefault();
    var userImageClaim = User.Claims.Where(c => c.Type == "Image").Select(c => c.Value).SingleOrDefault();
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}
@if (TempData["Fail"] != null)
{
    <div class="alert alert-error" role="alert">
        @TempData["Fail"]
    </div>
}

<div class="blog-sec">
    <div class="l-post my-l-post">
        <h1 class="text-center">Thông tin sách</h1>
    </div>
</div>

<div class="blog-sec">
    <div class="l-post my-l-post">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <figure class="my-figure">
                    <img src=@($"{host}assets/images/book/{Model.Image}") />
                </figure>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="l-post-meta my-l-post-meta">
                    <h4><a href="">@Model.Name</a></h4>
                    <p>
                        <b>Isbn:</b> @Model.Isbn <br />
                        <b>Tên sách:</b> @Model.Name <br />
                        <b>Số trang:</b> @Model.PageNumber <br />
                        <b>Ngày xuất bản:</b> @(Model.Published == new DateTime(0001,01,01,00,00,00) ? "" : Model.Published?.ToShortDateString()) <br />
                        <b>Thể loại:</b> @Model.Genre?.Name <br />
                        @Model.Description
                    </p>
                    <div class="purify my-purify">
                        <select id="btn-filter" asp-items="Html.GetEnumSelectList<ProgressReadOrigin>()"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-sec box-post-review">
    <div class="l-post my-l-post my-l-post-update">
        <div class="central-meta my-new-pst new-pst item">
            <div class="new-postbox">
                <figure>
                    <img src=@($"{host}assets/images/user/{userImageClaim}") width="50" />
                </figure>
                <div class="newpst-input">
                    <form method="post" action="@Url.Action("CreateReview", "Home")" class="my-post-review">
                        <div class="purify my-purify">
                            <select id="btn-filter" name="Star" asp-items="Html.GetEnumSelectList<Star>()"></select>
                        </div>
                        <textarea name="Text" rows="2" placeholder="Viết đánh giá..."></textarea>
                        <input hidden type="number" name="BookId" value="@Model.Id" />
                        <input hidden type="number" name="UserId" value="@userIdClaim" />
                        <div class="attachments" style="overflow:hidden">
                            <ul>
                                <li>
                                    <button type="submit">Đăng bài</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-sec review-by-book-id">
    <div class="after-post-review"></div>
    @await Html.PartialAsync("~/Views/Review/Partials/ReviewByBookId.cshtml", Model.ReviewByBookId)
</div>

<button id="btn-load-more" data-book-id="@Model.Id" class="btn-view btn-load-more"></button>

@section script{
<script src="~/my_script/get_param_url.js"></script>
<script src="~/my_script/action_load_more_book.js"></script>
<script src="~/my_script/review/action_create.js"></script>
<script src="~/my_script/comment/open_comment.js"></script>
<script src="~/my_script/comment/action_delete.js"></script>
<script src="~/my_script/review/action_delete.js"></script>
}