@model List<BookSocial.EntityClass.DTO.ReviewByBookId>

@{
    var host = ConnectCms.BookSocialCms;
    var userIdClaim = User.Claims.Where(c => c.Type == "Id").Select(c => c.Value).SingleOrDefault();
    var userImageClaim = User.Claims.Where(c => c.Type == "Image").Select(c => c.Value).SingleOrDefault();
}

@foreach (var item in Model)
{
    <div class="l-post my-l-post box-display-review" data-review-exclude="@item.Id">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    @if (string.IsNullOrEmpty(item.User?.Image))
                    {
                        <img src=@($"{host}assets/images/user/user.png") width="50" />
                    }
                    else
                    {
                        <img src=@($"{host}assets/images/user/{item.User.Image}") width="50" />
                    }
                </figure>
                <div class="friend-name my-friend-name">
                    <ins><a href="#">@item.User?.Name</a></ins>
                    <span>@TimeHelper.GetPrettyDate(item.CreatedAt)</span>
                    @if (item.UserId == Convert.ToInt32(userIdClaim))
                    {
                        <a class="btn-delete-review" data-review-id="@item.Id" href="#"><i class="fa fa-close"></i></a>
                    }
                </div>
                <div class="description my-description" style="float:right;width:91%">
                    <p>
                        @{
                            var progressRead = "";
                            if (item.Shelf != null)
                            {
                                switch (item.Shelf.ProgressRead)
                                {
                                    case ProgressRead.WantToRead:
                                        progressRead = "Muốn đọc";
                                        break;
                                    case ProgressRead.CurrentlyReading:
                                        progressRead = "Đang đọc";
                                        break;
                                    case ProgressRead.Read:
                                        progressRead = "Đã đọc";
                                        break;
                                }
                            }
                            else
                            {
                                progressRead = "Chưa đọc";
                            }
                        }
                        Tiến độ đọc: @progressRead
                    </p>
                    <p>
                        Xếp hạng:
                        @if ((int)item.Star != 0)
                        {
                            @for (int i = 0; i < (int)item.Star; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else
                        {
                            @Html.Raw("Chưa xếp hạng")
                        }
                    </p>
                    <p>Đánh giá: @item.Text</p>
                </div>
                <div class="post-meta">
                    <div class="we-video-info">
                        <ul>
                            <li>
                                <a class="btn-open-comment" data-review-id="@item.Id" href="#">
                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                        <i class="fa fa-comments-o"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="coment-area d-none comment-@item.Id">
                <ul class="we-comet">
                    <li class="comment-position-@item.Id">
                        <a href="#" data-review-id="@item.Id" class="btn-more-comment showmore underline">Xem thêm bình luận</a>
                    </li>
                    <li class="post-comment li-my-post-comment post-comment-@item.Id">
                        <div class="comet-avatar">
                            <img src=@($"{host}assets/images/user/{userImageClaim}") />
                        </div>
                        <div class="post-comt-box">
                            <form data-review-id="@item.Id" action="@Url.Action("CreateComment", "Home")" method="post" class="my-post-comment">
                                <textarea name="Text" placeholder="Thêm bình luận ..."></textarea>
                                <input hidden value="@item.Id" type="number" name="ReviewId" />
                                <input hidden value="@userIdClaim" type="number" name="UserId" />
                                <button class="my-btn-update" type="submit"><i class="fa fa-chevron-circle-right"></i></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}