@model List<BookSocial.EntityClass.DTO.ReviewList>

@{
    var host = ConnectAdmin.BookSocialAdmin;
    var userIdClaim = User.Claims.Where(c => c.Type == "Id").Select(c => c.Value).SingleOrDefault();
    var userImageClaim = User.Claims.Where(c => c.Type == "Image").Select(c => c.Value).SingleOrDefault();
}

@foreach (var item in Model)
{
    <div class="central-meta item box-display-review" data-review-exclude="@item.ReviewId">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    @if (item.UserImage == null || item.UserImage == "")
                    {
                        <img src=@($"{host}assets/images/user/user.png") />
                    }
                    else
                    {
                        <img src=@($"{host}assets/images/user/{item.UserImage}") />
                    }
                </figure>
                <div class="friend-name my-friend-name">
                    <ins><a href="#">@item.UserName</a></ins>
                    <span>@TimeHelper.GetPrettyDate(item.CreatedAt)</span>
                    @if (item.UserId == Convert.ToInt32(userIdClaim))
                    {
                        <a class="btn-delete-review" data-review-id="@item.ReviewId" href="#"><i class="fa fa-close"></i></a>
                    }
                </div>
                <div class="description my-description">
                    <p>
                        @{
                            var progressRead = "";
                            switch (item.UserProgressRead)
                            {
                                case ProgressRead.WantToRead:
                                    progressRead = "Muốn đọc";
                                    break;
                                case ProgressRead.CurrentlyReading:
                                    progressRead = "Đang đọc";
                                    break;
                                case ProgressRead.Read:
                                    progressRead = "Đã đọc";
                                    break;
                            }
                        }
                        Trạng thái đọc: @progressRead
                    </p>
                    <p>
                        Xếp hạng:
                        @if ((int)item.Star != 0)
                        {
                            @for (int i = 0; i < (int)item.Star; i++)
                            {
                                <i class="fa fa-star"></i>
                            }
                        }
                        else
                        {
                            @Html.Raw("Chưa xếp hạng")
                        }
                    </p>
                    <p>Đánh giá: @item.Text</p>
                </div>
                <div class="post-meta">
                    <div class="linked-image align-left">
                        <a href="@Url.Action("BookProfile","Home",new{bookId=item.BookId})">
                            <img src=@($"{host}assets/images/book/{item.BookImage}")>
                        </a>
                    </div>
                    <div class="detail my-detail">
                        <span>
                            <a href="@Url.Action("BookProfile","Home",new{bookId=item.BookId})">@item.BookName</a>
                        </span>
                        <p>
                            Tác giả:
                            @{
                                var count = 0;
                            }
                            @foreach (var author in item.AuthorListByBookId)
                            {
                                count++;
                                if (count > 1)
                                {
                                    <span><a href="@Url.Action("AuthorProfile","Home",new{authorId=author.AuthorId})">, @author.AuthorName</a></span>
                                }
                                else
                                {
                                    <span><a href="@Url.Action("AuthorProfile","Home",new{authorId=author.AuthorId})">@author.AuthorName</a></span>
                                }
                            }
                            <br />
                            @item.BookDescription.Substring(0,200) ...
                        </p>
                        <div class="purify my-purify">
                            <select id="btn-filter"
                                class="btn-change-progress-read-origin"
                                data-book-id="@item.BookId"
                                data-user-id="@userIdClaim"
                                asp-for="@item.UserClaimProgressRead"
                                asp-items="Html.GetEnumSelectList<ProgressReadOrigin>()">
                            </select>
                        </div>
                    </div>
                    <div class="we-video-info">
                        <ul>
                            <li>
                                <a class="btn-open-comment" data-review-id="@item.ReviewId" href="#">
                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                        <i class="fa fa-comments-o"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="coment-area d-none comment-@item.ReviewId">
                <ul class="we-comet">
                    <li class="comment-position-@item.ReviewId">
                        <a href="#" data-review-id="@item.ReviewId" class="btn-more-comment showmore underline">Xem thêm bình luận</a>
                    </li>
                    <li class="post-comment post-comment-@item.ReviewId">
                        <div class="comet-avatar">
                            <img src=@($"{host}assets/images/user/{userImageClaim}") />
                        </div>
                        <div class="post-comt-box">
                            <form data-review-id="@item.ReviewId" action="@Url.Action("CreateComment", "Home")" method="post" class="my-post-comment">
                                <textarea name="Text" placeholder="Thêm bình luận ..."></textarea>
                                <input hidden value="@item.ReviewId" type="number" name="ReviewId" />
                                <input hidden value="@userIdClaim" type="number" name="UserId" />
                                <button class="my-btn" type="submit"><i class="fa fa-chevron-circle-right"></i></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}