@model List<BookSocial.EntityClass.DTO.ReviewByBookId>

@{
    var host = ConnectAdmin.BookSocialAdmin;
    var userIdClaim = User.Claims.Where(c => c.Type == "Id").Select(c => c.Value).SingleOrDefault();
    var userImageClaim = User.Claims.Where(c => c.Type == "Image").Select(c => c.Value).SingleOrDefault();
}

@foreach (var item in Model)
{
    <div class="l-post my-l-post">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    @if (string.IsNullOrEmpty(item.User?.Image))
                    {
                        <img src=@($"{host}assets/images/user/user.png") width="50"/>
                    }
                    else
                    {
                        <img src=@($"{host}assets/images/user/{item.User.Image}") width="50"/>
                    }
                </figure>
                <div class="friend-name my-friend-name">
                    <ins><a href="#">@item.User?.Name</a></ins>
                    <span>@TimeHelper.GetPrettyDate(item.CreatedAt)</span>
                    @if (item.UserId == Convert.ToInt32(userIdClaim))
                    {
                        <a class="btn-delete-review" href="#"><i class="fa fa-close"></i></a>
                    }
                </div>
                <div class="description my-description">
                    <p>
                        @{
                            var progressRead = "";
                            switch (item.Shelf.ProgressRead)
                            {
                                case ProgressRead.WantToRead:
                                    progressRead = "Want To Read";
                                    break;
                                case ProgressRead.CurrentlyReading:
                                    progressRead = "Currently Reading";
                                    break;
                                case ProgressRead.Read:
                                    progressRead = "Read";
                                    break;
                            }
                        }
                        Progress Read: @progressRead
                    </p>
                    <p>
                        Star:
                        @for (int i = 0; i < (int)item.Star; i++)
                        {
                            <i class="fa fa-star"></i>
                        }
                    </p>
                    <p>Review: @item.Text</p>
                </div>
                <div class="post-meta">
                    <div class="we-video-info">
                        <ul>
                            <li>
                                <a class="btn-open-comment" data-review-id="@item.Id" href="#">
                                    <span class="comment" data-toggle="tooltip" title="Comments">
                                        <i class="fa fa-comments-o"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="coment-area d-none comment-@item.Id">
                <ul class="we-comet">
                    <li class="comment-position-@item.Id">
                        <a href="#" data-review-id="@item.Id" class="btn-more-comment showmore underline">more comments</a>
                    </li>
                    <li class="post-comment post-comment-@item.Id">
                        <div class="comet-avatar">
                            <img src=@($"{host}assets/images/user/{userImageClaim}") />
                        </div>
                        <div class="post-comt-box">
                            <form data-review-id="@item.Id" action="@Url.Action("CreateComment", "Home")" method="post" class="my-post-comment">
                                <textarea name="Text" placeholder="Post your comment ..."></textarea>
                                <input hidden value="@item.Id" type="number" name="ReviewId" />
                                <input hidden value="@userIdClaim" type="number" name="UserId" />
                                <button class="my-btn" type="submit"><i class="fa fa-chevron-circle-right"></i></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}