@using BookSocial.Service
@{
    var host = ConnectCms.BookSocialCms;
    var userImageClaim = User.Claims.Where(c => c.Type == "Image").Select(c => c.Value).SingleOrDefault();
    var userNameClaim = User.Claims.Where(c => c.Type == "UserName").Select(c => c.Value).SingleOrDefault();

    if (userImageClaim == null || userImageClaim == "")
    {
        userImageClaim = "user.png";
    }
}

<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a href="@Url.Action("Index","Home")">DanhGiaSach</a>
        </span>
    </div>
    <nav id="menu" class="res-menu">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li><a href="@Url.Action("ShelfList","Home")">Giá sách</a></li>
            <li><a href="@Url.Action("FriendList","Home")">Bạn bè</a></li>
            <li><a href="@Url.Action("SearchBook","Home")">Tìm kiếm</a></li>
            <li><a href="@Url.Action("Logout","Route")">Đăng xuất</a></li>
        </ul>
    </nav>
</div><!-- responsive header -->

<div class="topbar stick">
    <div class="logo">
        <a style="color:#3FA8DC;font-size:30px" href="@Url.Action("Index","Home")"><b style="font-weight:500">DanhGiaSach</b></a>
    </div>
    <div class="top-area">
        <div class="user-img" style="float:right">
            <img src=@($"{host}assets/images/user/{userImageClaim}") width="50" />
            <span style="font-size:14px">@userNameClaim</span>
            <div class="user-setting">
                <a href="@Url.Action("Logout","Route")"><i class="ti-power-off"></i>Đăng xuất</a>
            </div>
        </div>
        <ul class="main-menu" style="float:right">
            <li data-url="@Url.Action("Index","Home")" class="my-main-menu-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            <li data-url="@Url.Action("ShelfList","Home")" class="my-main-menu-item"><a href="@Url.Action("ShelfList","Home")">Giá sách</a></li>
            <li data-url="@Url.Action("FriendList","Home")" class="my-main-menu-item"><a href="@Url.Action("FriendList","Home")">Bạn bè</a></li>
            <li data-url="@Url.Action("SearchBook","Home")" class="my-main-menu-item"><a href="@Url.Action("SearchBook","Home")">Tìm kiếm</a></li>
        </ul>
    </div>
</div><!-- topbar -->