@using BookSocial.EntityClass.Enum
@using BookSocial.Service
@model IEnumerable<BookSocial.EntityClass.DTO.ShelfDetail>

@section css{
<link rel="stylesheet" href="~/my_style/shelf/index.css" />
}

@{
    var host = ConnectAdmin.BookSocialAdmin;
    var userIdClaim = User.Claims.Where(c => c.Type == "Id").Select(c => c.Value).SingleOrDefault();
}

<div class="blog-sec">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["Success"]
        </div>
    }
    @if (TempData["Fail"] != null)
    {
        <div class="alert alert-error" role="alert">
            @TempData["Fail"]
        </div>
    }
    <div class="post-filter-sec">
        <form method="post" class="filter-form">
            <input id="search" type="text" placeholder="Search ...">
            <button id="btn-search"><i class="ti-search"></i></button>
        </form>
        <div class="purify">
            <span>Filter by</span>
            <select id="btn-filter" asp-items="Html.GetEnumSelectList<ProgressRead>()">
                <option value="-1">All</option>
            </select>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="l-post my-l-post">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <figure class="my-figure">
                        <img src=@($"{host}assets/images/book/{item.BookImage}") />
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    <div class="l-post-meta my-l-post-meta">
                        <h4><a href="@Url.Action("BookDetail","Home",new{bookId=item.BookId})" title="">@item.BookName (@item.GenreName)</a></h4>
                        <div class="l-post-ranking">
                            @{
                                var count = 0;
                            }
                            @foreach (var author in item.AuthorListByBookId)
                            {
                                if (count == 0)
                                {
                                    <a class="admin" href="@Url.Action("AuthorDetail","Home",new {authorId = author.AuthorId})">@author.AuthorName</a>
                                }
                                else
                                {
                                    <a class="admin" href="@Url.Action("AuthorDetail","Home",new {authorId = author.AuthorId})">, @author.AuthorName</a>
                                }
                                count++;
                            }
                        </div>
                        <p>
                            @item.BookDescription
                        </p>
                        <div class="g-post-ranking">
                            <a class="likes" href="#"><i class="fa fa-star"></i>@item.AverageOfRating</a>
                            <a class="coments" href="#"><i class="fa fa-comment-o"></i>@item.NumberOfReviews</a>
                        </div>
                        <div class="purify my-purify">
                            <select data-book-id="@item.BookId"
                                data-user-id="@item.UserId"
                                class="btn-change-progress-read"
                                asp-for="@item.ProgressRead"
                                asp-items="Html.GetEnumSelectList<ProgressRead>()">
                            </select>
                            <a class="btn btn-danger my-btn btn-delete-shelf" data-book-id="@item.BookId">Delete</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    }

    <ul class="pagination mt-2" style="border:none; float:right">
        @if (ViewBag.CurrentPage > 1)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ShelfList","Home",
                          new{page=ViewBag.CurrentPage-1,
                              search=ViewBag.CurrentSearch,
                              filter=ViewBag.CurrentFilter})">
                    Previous
                </a>
            </li>
        }
        @for (var i = 0; i < ViewBag.Pages; i++)
        {
            if ((i + 1) == ViewBag.CurrentPage)
            {
                <li class="page-item">
                    <a class="page-link paging_active" href="@Url.Action("ShelfList","Home",
                                new{page=i+1,
                                    search=ViewBag.CurrentSearch,
                                    filter=ViewBag.CurrentFilter})">
                        @(i+1)
                    </a>
                </li>
            }
            else if (Math.Abs((i + 1) - ViewBag.CurrentPage) <= 5)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("ShelfList","Home",
                                new{page=i+1,
                                    search=ViewBag.CurrentSearch,
                                    filter=ViewBag.CurrentFilter})">
                        @(i+1)
                    </a>
                </li>
            }
        }
        @if (ViewBag.CurrentPage < ViewBag.Pages)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("ShelfList","Home",
                            new{page=ViewBag.CurrentPage+1,
                                search=ViewBag.CurrentSearch,
                                filter=ViewBag.CurrentFilter})">
                    Next
                </a>
            </li>
        }
    </ul>
</div>

@section script{
<script src="~/my_script/get_param_url.js"></script>
<script src="~/my_script/action_in_list.js"></script>
<script src="~/my_script/shelf/action_delete.js"></script>
<script src="~/my_script/change_progress.js"></script>
}