<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a href="newsfeed.html" title=""><img src="~/images/logo2.png" alt=""></a>
        </span>
    </div>
    <nav id="menu" class="res-menu">
        <ul>
            <li><a href="@Url.Action("Index","Home")" title="">Home</a></li>
            <li><a href="@Url.Action("BookShelf","Home")" title="">My Book</a></li>
            <li><a href="@Url.Action("FriendList","Home")" title="">My Friend</a></li>
            <li><a href="@Url.Action("SearchList","Home")" title="">Discover</a></li>
            <li>
                <span>Account</span>
                <ul>
                    <li><a href="@Url.Action("Profile","Home")" title="">Profile</a></li>
                    <li><a href="@Url.Action("Logout","Route")" title="">Log out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div><!-- responsive header -->

<div class="topbar stick">
    <div class="logo">
        <a title="" href="@Url.Action("Index","Home")"><img src="~/images/logo.png" alt=""></a>
    </div>
    <div class="top-area">
        <ul class="main-menu">
            <li><a href="@Url.Action("Index","Home")" title="">Home</a></li>
            <li><a href="@Url.Action("BookShelf","Home")" title="">My Book</a></li>
            <li><a href="@Url.Action("FriendList","Home")" title="">My Friend</a></li>
            <li><a href="@Url.Action("SearchList","Home")" title="">Discover</a></li>
        </ul>
        <div class="user-img">
            <img src="~/images/resources/admin.jpg" alt="">
            <span class="status f-online"></span>
            <div class="user-setting">
                <a href="@Url.Action("Profile","Home")" title=""><i class="ti-user"></i> view profile</a>
                <a href="@Url.Action("Logout","Route")" title=""><i class="ti-power-off"></i>log out</a>
            </div>
        </div>
    </div>
</div><!-- topbar -->