@using BookSocial.Service
@{
    var host = ConnectAdmin.BookSocialAdmin;
    var userImageClaim = User.Claims.Where(c => c.Type == "Image").Select(c => c.Value).SingleOrDefault();
    var userNameClaim = User.Claims.Where(c => c.Type == "UserName").Select(c => c.Value).SingleOrDefault();

    if (userImageClaim == null || userImageClaim == "")
    {
        userImageClaim = "user.png";
    }
}

<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a href="newsfeed.html" title=""><img src="~/images/logo2.png"></a>
        </span>
    </div>
    <nav id="menu" class="res-menu">
        <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("ShelfList","Home")">My Book</a></li>
            <li><a href="@Url.Action("FriendList","Home")">My Friend</a></li>
            <li><a href="@Url.Action("SearchBook","Home")">Discover</a></li>
            <li><a href="@Url.Action("Logout","Route")">Log out</a></li>
        </ul>
    </nav>
</div><!-- responsive header -->

<div class="topbar stick">
    <div class="logo">
        <a title="" href="@Url.Action("Index","Home")"><img src="~/images/logo.png"></a>
    </div>
    <div class="top-area">
        <ul class="main-menu">
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
            <li><a href="@Url.Action("ShelfList","Home")">My Book</a></li>
            <li><a href="@Url.Action("FriendList","Home")">My Friend</a></li>
            <li><a href="@Url.Action("SearchBook","Home")">Discover</a></li>
        </ul>
        <div class="user-img">
            <img src=@($"{host}assets/images/user/{userImageClaim}") width="50" />
            <span style="font-size:14px">@userNameClaim</span>
            <div class="user-setting">
                <a href="@Url.Action("Logout","Route")"><i class="ti-power-off"></i>log out</a>
            </div>
        </div>
    </div>
</div><!-- topbar -->