@using BookSocial.EntityClass.Entity
@using BookSocial.EntityClass.Enum
@model BookSocial.EntityClass.Entity.User

@section css{
<link href="~/my_style/jquery-ui.css" rel="stylesheet" />
<style>
    .my-ul-assign-book {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
}

@{
    int countUserFriends = 0;
    if (Model.Friend != "" && Model.Friend != null)
    {
        var userFriends = Model.Friend.Split(',');
        countUserFriends = userFriends.Length;
    }

    var role = "";
    switch (Model.Role)
    {
        case Role.User:
            role = "User";
            break;
        case Role.Admin:
            role = "Admin";
            break;
        case Role.LibraryManager:
            role = "Library Manager";
            break;
        case Role.UserManager:
            role = "User Manager";
            break;
    }
}

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>Detail Book</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Fail"] != null)
            {
                <div class="alert alert-error" role="alert">
                    @TempData["Fail"]
                </div>
            }
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <ul class="list-unstyled user_data">
                        <li><b>User Id:</b> @Model.Id</li>
                        <li><b>User Name:</b> @Model.Name</li>
                        <li><b>Phone:</b> @Model.Phone</li>
                        <li><b>Email:</b> @Model.Email</li>
                        <li><b>Account:</b> @Model.Account</li>
                        <li>
                            <b>Password:</b> 
                            @for (var i = 0; i < Model.Password.Length; i++)
                            {
                                <span>*</span>
                            }

                        </li>
                        <li><b>Image:</b></li>
                        <li>
                            <img class="@((Model.Image != null && Model.Image != "") ? "" : "d-none")"
                                 style="width:200px" src="~/assets/images/user/@Model.Image" />
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <ul class="list-unstyled user_data">
                        <li><b>Address:</b> @Model.Address</li>
                        <li><b>Description:</b> @Model.Description</li>
                        <li>
                            <b>Birthday:</b>
                            @(Model.Birthday == new DateTime(0001,01,01,00,00,00) ? "" : Model.Birthday.Value.ToShortDateString())
                        </li>
                        <li><b>Gender:</b> @Model.Gender</li>
                        <li><b>Friend:</b> @countUserFriends</li>
                        <li>
                            <b>Status:</b>
                            <select class="my-custom-select custom-select"
                                    data-id="@Model.Id" id="btn-change-status"
                                    asp-for="Status" asp-items="Html.GetEnumSelectList<Status>()"></select>
                        </li>
                        <li><b>Role:</b> @role</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
<script src="~/my_script/get_param_url.js"></script>
<script src="~/my_script/user/action_change_status.js"></script>
}