@using BookSocial.EntityClass.Enum
@model IEnumerable<BookSocial.EntityClass.DTO.UserStatistic>



<div class="col-md-12 col-sm-12">
    <div class="x_panel">
        <div class="x_title">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="width:50%">
                    <h2>User List</h2>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="width:50%">
                    <a class="mr-0 btn btn-dark my-col-sm-6" href="@Url.Action("ExportUserToCsv")"><i class="fa fa-download"></i> Export</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                            <select class="custom-select" id="btn-sort">
                                <option selected value="Id">Id</option>
                                <option value="UserName">User Name</option>
                                <option value="Email">Email</option>
                                <option value="Account">Account</option>
                                <option value="Image">Image</option>
                                <option value="Gender">Gender</option>
                                <option value="Status">Status</option>
                                <option value="NumberOfFriends">Number Of Friends</option>
                                <option value="NumberBooksOnShelf">Number Books On Shelf</option>
                                <option value="NumberOfArticles">Number Of Articles</option>
                                <option value="NumberOfComments">Number Of Comments</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="input-group my-input-group">
                                <input id="search" type="text" class="form-control my-form-control" placeholder="Search ..." />
                                <div class="input-group-append">
                                    <button id="btn-search" class="btn mr-0 btn-outline-dark" type="button"><i class="fa fa-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (TempData["Success"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["Success"]
                </div>
            }
            @if (TempData["Fail"] != null)
            {
                <div class="alert alert-error" role="alert">
                    @TempData["Fail"]
                </div>
            }
            <div class="table-responsive mt-2">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">Id</th>
                            <th class="column-title">User Name</th>
                            <th class="column-title">Email</th>
                            <th class="column-title">Account</th>
                            <th class="column-title">Image</th>
                            <th class="column-title">Gender</th>
                            <th class="column-title">Status</th>
                            <th class="column-title">Number Of Friends</th>
                            <th class="column-title">Number Books On Shelf</th>
                            <th class="column-title">Number Of Articles</th>
                            <th class="column-title">Number Of Comments</th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>
                            <th class="bulk-actions" colspan="7">
                                <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="even pointer">
                                <td class=" ">@item.Id</td>
                                <td class=" ">@item.UserName</td>
                                <td class=" ">@item.Email</td>
                                <td class=" ">@item.Account</td>
                                <td class=" ">@item.Image</td>
                                <td class=" ">@item.Gender</td>
                                @{
                                    var statusText = "";
                                    var statusColor = "";
                                    switch (item.Status)
                                    {
                                        case Status.Locked:
                                            statusText = "Locked";
                                            statusColor = "danger";
                                            break;
                                        case Status.IsNotActive:
                                            statusText = "Is Not Active";
                                            statusColor = "secondary";
                                            break;
                                        case Status.IsActive:
                                            statusText = "Is Active";
                                            statusColor = "success";
                                            break;
                                    }
                                }
                                <td class=" "><span class="badge badge-@statusColor">@statusText</span></td>
                                <td class=" ">@item.NumberOfFriends</td>
                                <td class=" ">@item.NumberBooksOnShelf</td>
                                <td class=" ">@item.NumberOfArticles</td>
                                <td class=" ">@item.NumberOfComments</td>
                                <td class=" last">
                                    <a class="btn btn-outline-info" href="@Url.Action("DetailUser", "", new { id = @item.Id })">
                                        <i class='fa fa-folder'></i> View
                                    </a>
                                    <a data-id="@item.Id" href="#" class="btn-delete btn btn-outline-danger">
                                        <i class='fa fa-trash-o'></i> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <ul class="pagination my_pagination">
                    @if (ViewBag.CurrentPage > 1)
                    {
                        <li>
                            <a href="@Url.Action("UserList","Home",
                            new{page=ViewBag.CurrentPage-1,search=ViewBag.CurrentSearch})">Previous</a>
                        </li>
                    }

                    @for (var i = 0; i < ViewBag.Pages; i++)
                    {
                        if ((i + 1) == ViewBag.CurrentPage)
                        {
                            <li>
                                <a class="active" href="@Url.Action("UserList","Home",
                                new{page=i+1,search=ViewBag.CurrentSearch})">@(i+1)</a>
                            </li>
                        }
                        else if (Math.Abs((i + 1) - ViewBag.CurrentPage) <= 5)
                        {
                            <li>
                                <a href="@Url.Action("UserList","Home",
                                new{page=i+1,search=ViewBag.CurrentSearch})">@(i+1)</a>
                            </li>
                        }
                    }

                    @if (ViewBag.CurrentPage < ViewBag.Pages)
                    {
                        <li>
                            <a href="@Url.Action("UserList","Home",
                            new{page=ViewBag.CurrentPage+1,search=ViewBag.CurrentSearch})">Next</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

@section script{
<script src="~/my_script/get_param_url.js"></script>
<script src="~/my_script/action_in_list.js"></script>
<script src="~/my_script/user/action_delete.js"></script>
}
