@model BookSocial.EntityClass.DTO.AuthorProfile

@section css{
<link rel="stylesheet" href="~/my_style/friend/index.css" />
}

@{
    var host = ConnectAdmin.BookSocialAdmin;
    var userIdClaim = User.Claims.Where(c => c.Type == "Id").Select(c => c.Value).SingleOrDefault();
}

<div class="blog-sec">
    <div class="l-post my-l-post">
        <h1 class="text-center">Thông tin tác giả</h1>
    </div>
</div>

<div class="blog-sec">
    <div class="l-post my-l-post">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <figure class="my-figure">
                    <img src=@($"{host}assets/images/author/{Model.Image}") />
                </figure>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="l-post-meta my-l-post-meta">
                    <h4><a href="">@Model.Name</a></h4>
                    <p>
                        <b>Ngày sinh:</b> @Model.Birthday?.ToString("dd/MM/yyyy") <br />
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="blog-sec">
    <div class="row">
        @foreach (var item in Model.BookListByAuthorId)
        {
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <div class="l-post my-l-post" style="text-align:center">
                    <figure class="my-figure mb-2">
                        <img src=@($"{host}assets/images/book/{item.BookImage}") />
                    </figure>
                    <div class="l-post-meta my-l-post-meta">
                        <h4><a href="@Url.Action("BookProfile","Home",new{bookId=item.BookId})">@item.BookName</a></h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>